.slideshow-text{position:absolute;left:0;bottom:50px;color: rgb(255, 255, 255);}
#btn-back-to-top {display: none;width: 60px;height: 60px;text-indent: -9999px;position: fixed;z-index: 999;right: 20px;bottom: 20px;background: #6035d6 url("img/up-arrow.png") no-repeat center 43%;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;}
.zoom {transition: transform .2s;background-color: #ffffff; border-radius: 30px; opacity: 85%; margin-top:75px;}
.zoom_height_and_width {width: 175px;height:175px;}
.zoom:hover {-ms-transform: scale(1.05);-webkit-transform: scale(1.05);transform: scale(1.05); }
img.rounded-corners {border-radius: 30px;}
#submain {margin-left:100px ;width:100%;}
#sub-left {text-align: center;}
#sub-right {text-align: center;}
#sub-mid {text-align: center;}
hr.rounded {border-top: 6px solid gray;border-radius: 5px;}
.footer {background-color: #6035d6;}
.footer-dark {padding:50px 0;color:#f0f9ff;background-color:#282d32;}
.footer-dark h3 {margin-top:0;margin-bottom:0px;font-weight:bold;font-size:16px;}
.footer-dark ul {padding:0;list-style:none;line-height:1.6;font-size:14px;margin-bottom:0;}
.footer-dark ul a {color:inherit;text-decoration:none;opacity:0.6;}
.footer-dark ul a:hover {opacity:0.8;}
@media (max-width:767px) {.footer-dark .item:not(.social) {text-align:center;padding-bottom:20px;}}
.footer-dark .item.text {margin-bottom:36px;}
@media (max-width:767px) {.footer-dark .item.text {margin-bottom:0;}}
.footer-dark .item.text p {opacity:0.6;margin-bottom:0;}
.footer-dark .item.social {text-align:center;}
@media (max-width:991px) {.footer-dark .item.social {text-align:center;margin-top:20px;}}
.footer-dark .item.social > a {font-size:20px;width:36px;height:36px;line-height:36px;display:inline-block;text-align:center;border-radius:50%;box-shadow:0 0 0 1px rgba(255,255,255,0.4);margin:0 8px;color:#fff;opacity:0.75;}
.footer-dark .item.social > a:hover {opacity:0.9;}
.footer-dark .copyright {text-align:center;padding-top:24px;opacity:0.3;font-size:13px;margin-bottom:0;}
.slider{width: 1600px;height: 800px;border-radius: 10px;overflow: hidden;}
.slides{width: 500%;height: 500px;display: flex;}
.slides input{display: none;}
.slide{width: 20%;transition: 1s;}
.slide img{width: 1600px;height: 800px;}
.navigation-manual{position: absolute;width: 1600px;margin-top: 260px;display: flex;justify-content: center;}
.manual-btn{border: 2px solid #ffffff;padding: 5px;border-radius: 10px;cursor: pointer;transition: 1s;}
.manual-btn:not(:last-child){margin-right: 40px;}
.manual-btn:hover{background: #ffffff;}
#radio1:checked ~ .first{margin-left: 0;}
#radio2:checked ~ .first{margin-left: -20%;}
#radio3:checked ~ .first{margin-left: -40%;}
#radio4:checked ~ .first{margin-left: -60%;}
.navigation-auto{position: absolute;display: flex;width: 1600px;justify-content: center;margin-top: 760px;}
.navigation-auto div{border: 2px solid #ffffff;padding: 5px;border-radius: 10px;transition: 1s;}
.navigation-auto div:not(:last-child){margin-right: 40px;}
#radio1:checked ~ .navigation-auto .auto-btn1{background: #ffffff;}
#radio2:checked ~ .navigation-auto .auto-btn2{background: #ffffff;}
#radio3:checked ~ .navigation-auto .auto-btn3{background: #ffffff;}
#radio4:checked ~ .navigation-auto .auto-btn4{background: #ffffff;}

@media (min-width:767px) {
.zoom_height_and_width {width:260px;height:260px;}
#sub-left {float:right;width: 30%;}
#sub-right {float:right;width: 30%;}
#sub-mid {float:right;width: 30%;}
}

@media (min-width:991px) {
.zoom_height_and_width {width: 350px;height: 350px;}
#sub-left {float:right;width: 30%;}
#sub-right {float:right;width: 30%;}
#sub-mid {float:right;width: 30%;}
}
